{
	"presets": [
		["es2015"],
		"react"
	],
	"plugins": [
		"transform-regenerator",
		["transform-object-rest-spread", { "useBuiltIns": true }],
		"transform-runtime",
		"transform-class-properties"
	]
}
